@model LessonNote
@{
    ViewData["Title"] = "LessonNoteDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header clearfix">
        <h4 class="card-title float-left"> Ders Notu Listesi</h4>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <td width="25%">Başlık</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Açıklama</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Kategori</td>
                <td>@Model.SubCategory.Category.Name</td>
            </tr>
            <tr>
                <td>Alt Kategori</td>
                <td>@Model.SubCategory.Name</td>
            </tr>>
            <tr>
                <td>Dosya Adı</td>
                <td>@Model.FileName</td>
            </tr>
        </table>

        <a href="/LessonNote/Index/" class="btn btn-outline-dark float-right ml-2">İptal</a>
        <a href="/LessonNote/BanLessonNote/@Model.LessonNotesID" class="btn btn-outline-danger float-right ml-2">Banla</a>
        <a target="_blank" href="~/LessonNoteStorage/@Model.FileName" class="btn btn-outline-primary float-right ml-2">Görüntüle</a>
        <a href="/LessonNote/DeleteLessonNote/@Model.LessonNotesID" class="btn btn-outline-danger float-right">Sil</a>
        <br />
    </div>
</div>

